<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="GET" path="/*" type="MovieInfo.MovieInfoTPL2Handler"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="GET" path="/*" name="MovieInfoTPL2Handler" type="MovieInfo.MovieInfoTPL2Handler" />
    </handlers>
  </system.webServer>

</configuration>

